.glance {
    display: flex;
    align-items: center;
    flex-direction: column;

    .glance-card-container {
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
        gap: 20px;
    }
}