.slider {
    position: relative;
    overflow: hidden;

    .black-overlay {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1));
        z-index: 2;
        width: 100%;
        height: 100%;
        position: absolute;

    }

    .container {
        transition: all 1s ease;
        width: 300vw;
        height: 80vh;
        display: flex;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
    }

    .icons {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 100px;
        gap: 20px;

        .arrow-icon {
            width: 50px;
            height: 50px;
            border: 1px solid #fff;
            padding: 10px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            cursor: pointer;
            z-index: 3;
        }
    }
}