.header {
    width: 100%;
    /* Changed from 100vw to 100% */

    .header-container {
        width: 100%;
        background: #363434;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 50px;

        .header-social-icons {
            padding: 3px 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .header-icon {
                font-size: 30px;
                transition: all 0.3s ease;
                color: #212121;
                background-color: #fff;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                padding: 3px;

                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }

        .header-call {
            display: flex;
            gap: 40px;

            .header-call-tab {
                .header-number {
                    display: flex;
                    align-items: center;

                    h6 {
                        font-size: 14px;
                        font-weight: 300;
                    }

                    p {
                        font-size: 14px;
                        margin-left: 10px;
                        font-weight: 300;
                    }
                }
            }
        }
    }

    // Laptop Screen Media 

    @media (max-width: 1180px) {
        .header-container {
            padding: 8px;

            span {
                display: none;
            }

            .header-call {
                flex-direction: column;
                gap: 3px;
            }
        }
    }

    // Tablet Screen Media

    @media (max-width: 570px) {
        .header-container {
            flex-direction: column;

            .header-social-icons {
                margin-bottom: 5px;

                .header-icon {
                    margin: 0 8px;
                }
            }
        }
    }

    // Mobile Screen Media

    @media (max-width: 450px) {
        .header-container {
            padding: 5px 0;

            align-items: flex-start;

            .header-social-icons {
                display: none !important
            }

            .header-call {
                margin-left: 25px;

                .header-call-tab {

                    .header-number {

                        h6 {

                            font-size: 12px;
                        }

                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    // Small Screen

    @media (max-width: 380px) {
        .header-container {
            padding: 5px 0;

            align-items: flex-start;

            .header-social-icons {
                display: none !important;
            }

            .header-call {
                margin-left: 15px;

                .header-call-tab {

                    .header-number {

                        h6 {

                            font-size: 10px;
                        }

                        p {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }

}

@media (max-width: 380px) {

    .header {
        .header-container {
            .header-call {
                gap: 0;

                .header-call-tab {
                    .header-number {
                        h6 {
                            font-size: 8px;
                        }

                        p {
                            font-size: 8px;
                        }
                    }
                }
            }


        }
    }

}