.customer-care-section {
    .customer-care-data {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0px 50px;

        .data-na {
            text-align: center;
            font-weight: 200;
            width: 100%;
        }

        .customercare-singledata {
            padding: 30px;

            p {
                margin-bottom: 20px;
            }


            img {
                width: 100%;
                border-radius: 20px;
                margin-bottom: 20px;
            }

            .ccd {
                margin-top: 50px;

                h3 {
                    font-size: 25px;
                    font-weight: 500;
                }

                p {
                    margin-top: 20px;
                    color: rgb(94, 90, 90);
                    line-height: 22px;
                    letter-spacing: 0.6px;
                }

                button {
                    margin-top: 20px;
                    background-color: rgb(39, 133, 109);
                    border: none;
                    outline: none;
                    padding: 10px;
                    border-radius: 5px;
                    color: white;
                    margin-right: 10px;
                    cursor: pointer;
                    transition: 0.2s ease-in-out;

                    &:hover {
                        background-color: rgb(20, 75, 61);
                    }
                }
                .auth-data{
                    margin-top: 20px;
                    h6{
                        font-size: 17px;
                    }
                    p{
                        margin: 5px;
                    }
                }

                .inner-ccd {
                    margin-top: 2px;
                    display: flex;
                    align-items: center;
                    // background-color: aquamarine;

                    h6 {
                        // font-size: 20px;
                        font-weight: 400;
                        // margin-top: 10px;

                    }

                    p {
                        // margin-top: 2px;
                        margin-left: 20px;

                    }

                }
            }
        }
    }
}