* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Work Sans", system-ui; */
  font-family: "Poppins", sans-serif;


}

:root {
  --bright-red-color: #f63e02;
  --dark-red-color: rgb(192, 75, 75);
}

li {
  list-style: none;
}

.para {
  color: rgb(94, 90, 90);
  line-height: 22px;
  letter-spacing: 0.6px;

}



.flex {
  display: flex;
}

.f-1 {
  flex: 1;
}

.f-4 {
  flex: 4;
}

.data-na {
  text-align: center;
  font-weight: 200;
  width: 100%;
}

.side-list {
  border-right: 1px solid lightgrey;
  flex: 1;
  /* padding: 20px; */
  /* background: #000; */

  ul {



    li {
      /* margin: 20px; */
      padding: 15px;




      &:hover {
        background-color: #f2f6fc;
        cursor: pointer;

      }

      &:active {
        background-color: #ececec;
      }
    }
  }
}

.h-100 {
  height: 100%;
}

h2 {
  margin-top: 50px;
  font-size: 40px;
  font-weight: 400;
}

a {
  text-decoration: none;
  list-style: none;
}

.inner-side_links {}




@media (max-width: 1100px) {


  h2 {
    font-size: 35px;
  }
}

@media (max-width: 800px) {

  h2 {
    font-size: 25px;
    margin-top: 20px;
  }
}

@media (max-width: 420px) {

  h2 {
    font-size: 20px;
    padding: 0 10px;
    text-align: center;

  }

}